body {
    background-color: green;
    color: white;
    font-family: Verdana, sans-serif;
}

div.main {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h2.lose {
    display: none;
}

h2.win {
    display: none;
}

table.deal {
    border-spacing: 10px
}

